<form method="post" action="{% url 'blog:contact' %}" class="js-contact-form">
  {% csrf_token %}
  <div class="modal-header">
    <h1 class="modal-title">Contact Us</h1>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    {% include 'blog/includes/partial_contact_us_form.html' %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-success">Send</button>
  </div>
</form>
