{% extends "base.html" %}
{#<head><p> {{ paginator }} </p>#}
{#<p> {{ userpost.image.url }} </p>#}
{#<p> {{ is_paginated }} </p>#}
{#</head>#}
{% load static %}
<p> {{ is_paginated }} </p>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 left  top">
                <div class="card-body">
                    <h1>Post: {{ userpost.title }} </h1>
                    <div class="col-md-8 card mb-4  mt-3 left  top">
                        <div class="card-body">
                            <p class=" text-muted">Created by: {{ userpost.author }} | {{ userpost.created_on }}</p>
                            <p class="card-text ">Summary: {{ userpost.summary }}</p>
                            <p class="card-text ">Content: {{ userpost.content | safe }}</p>
                            <form action="{% url "blog:post_detail" userpost.id %}" method="get" enctype="multipart/form-data"></form>
                            {% if userpost.image %}
                                <p>Post Image </p>
                                <p class="card-text "><img src="{{ userpost.image.url }}" alt=""></p>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{% url "blog:update_post" userpost.id %}">Update post</a>
                </div>
            </div>

                <div class="col-md-8 card mb-4  mt-3 ">
                    <div class="card-body">
    {#                    <h2>{{ object.comments.all|join:", " }}</h2>#}
{#                        {% for comment in object.comments.all %}#}
                        {% for comment in comments %}
                            {% if comment.is_published == True %}
                                <div class="col-md-8 card mb-4  mt-3 left  top">
                                    <div class="comments" style="padding: 10px;">
                                        <p class="font-weight-bold">
                                            {{ comment.body }}
                                            <span class=" text-muted font-weight-normal">
                                                {{ comment.created_on }}
                                            </span>
                                        </p>
                                        <span class=" text-muted font-weight-normal">
                                                created by
                                        </span>
    {#                                    <div class="font-weight-bold">#}
                                            {{ comment.name | linebreaks }}
    {#                                    </div>#}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                            <div class="pagination">
                                <span class="page-links">
                                    {% if comments.has_previous %}
                                        <a href="?page=1">&laquo; First</a>
                                        <a href="{{ request.path }}?page={{ comments.previous_page_number }}">Previous</a>
                                    {% endif %}
                                    <span class="page-current">
                                        Page {{ comments.number }} of {{ comments.paginator.num_pages }}
                                    </span>
                                    {% if comments.has_next %}
                                        <a href="{{ request.path }}?page={{ comments.next_page_number }}">Next</a>
                                        <a href="?page={{ comments.paginator.num_pages }}">Last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>


            <div class="col-md-8 card mb-4  mt-3 ">
                <div class="card-body">
                    {% if new_comment %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting moderation
                        </div>
                    {% else %}
                        <h3>Leave a comment</h3>
                        <form action="{% url "blog:add_comment" userpost.id %}" method="post" style="margin-top: 1.3em;">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success  btn-lg">Submit</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
