{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block content %}
  <h1>Local Library Home</h1>

  <p><h5>Welcome to <em>Homework_17(18 also)</em>, simplest Django website developmentally based on <a
      href="https://github.com/KhvPaul/django_example_project/tree/main">django_example_project</a> provided by <a
          href="https://github.com/KhvPaul">KhvPaul</a>.</h5></p>
  <p>The tutorial demonstrates how to create a Django skeleton website and application, define URL mappings, views
    (including Generic List and Detail Views), models and templates.</p>


  You have visited this page {{ num_visits }} time{% if num_visits > 1 %}s{% endif %}.

{% endblock %}